.toolsTitle {
    position: absolute;
    display: flex;
    bottom: 2%;
    right: 1%;
    border: 1px solid #dcdfe6;
    border-radius: 10px;
    padding: 20px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    color: var(--text-color);

    &:hover {
        transform: scale(1.05);
        box-shadow: var(--title-box-shadow)
    }
}